[Unit]
Description=L'Orchestre Music Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/lorchestrectl --daemon

[Install]
WantedBy=default.target
