html {
	--dark-fg: #ffffff;
	--dark-bg: #181818;

	--light-fg: #000000;
	--light-bg: #ffffff;
}

:root {
	--fg: var(--light-fg);
	--bg: var(--light-bg);

	color-scheme: ligth dark;
	font-family:
		'Product Sans',
		system-ui,
		-apple-system,
		'Readex Pro Variable',
		'Noto Sans KR Variable',
		'Noto Sans JP Variable',
		'Noto Sans SC Variable',
		sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;

	color: var(--light-fg);
	background-color: var(--light-bg);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
	:root {
		--fg: var(--dark-fg);
		--bg: var(--dark-bg);

		color: var(--dark-fg);
		background-color: var(--dark-bg);
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	touch-action: manipulation;
}

body {
	overscroll-behavior: contain;
}

.ns {
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
}
