html {
	--dark-fg: #ffffff;
	--dark-bg: #181818;
	--dark-highlight: #27272a;

	--light-fg: #000000;
	--light-bg: #ffffff;
	--light-highlight: #f4f4f5;

	--font-fantasy: 'Calistoga', 'Noto Serif JP Variable', serif;
	--font-mono: 'Iosevka', monospace;

	--toast-z-index: 140;
	--starting-screen-z-index: 135;
	--edit-view-z-index: 130;
	--player-z-index: 100;
	--header-z-index: 50;
	--search-z-index: 40;
	--overlay-z-index: 30;
}

code {
	font-family: var(--font-mono), monospace;
}

body[data-theme='dark'] {
	--fg: var(--dark-fg);
	--bg: var(--dark-bg);
	--highlight: var(--dark-highlight);

	color: var(--dark-fg);
	background-color: var(--dark-bg);
}

body[data-theme='light'] {
	--fg: var(--light-fg);
	--bg: var(--light-bg);
	--highlight: var(--light-highlight);

	color: var(--light-fg);
	background-color: var(--light-bg);
}

:root {
	--fg: var(--light-fg);
	--bg: var(--light-bg);
	--highlight: var(--light-highlight);

	color-scheme: ligth dark;
	font-family:
		'Inter Variable',
		system-ui,
		-apple-system,
		'Noto Sans KR Variable',
		'Noto Sans JP Variable',
		'Noto Sans SC Variable',
		sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;

	color: var(--light-fg);
	background-color: var(--light-bg);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

.glass {
	background: rgba(255, 255, 255, 0.9);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
}

body[data-theme='light'] .glass {
	background: rgba(255, 255, 255, 0.9);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
}

body[data-theme='dark'] .glass {
	background: rgba(24, 24, 24, 0.9);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
}

@media (prefers-color-scheme: dark) {
	:root {
		--fg: var(--dark-fg);
		--bg: var(--dark-bg);
		--highlight: var(--dark-highlight);

		color: var(--dark-fg);
		background-color: var(--dark-bg);
	}

	.glass {
		background: rgba(24, 24, 24, 0.9);
		backdrop-filter: blur(12px);
		-webkit-backdrop-filter: blur(12px);
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	touch-action: manipulation;
	overflow: hidden;
}

/* [isGnome='true'] { */
/* 	border: 2px solid #333333; */
/* 	border-radius: 12px; */
/* } */

body {
	overscroll-behavior: contain;
}

.ns {
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

.btn {
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 0.5em;
	font-size: 1.1em;
	font-weight: bold;
	border: none;
	background-color: var(--highlight);
	cursor: pointer;
	padding: 0.6em;
	border-radius: 8px;
	color: var(--fg);
}

.btn .icon {
	height: 100%;
	display: flex;
	align-items: center;
}

.btn[data-kind='desctructive'] {
	color: #ff1a1a;
}

.btn:active {
	transform: scale(0.98);
}

.btn.inactive {
	cursor: not-allowed;
	pointer-events: none;
	opacity: 0.5;
}
